!!! 5

html(lang="en")

    head
        // Yandex.Metrika counter
        script(src="{{ url_for( 'static', filename='js/metrica.js') }}")
        noscript
            div
                img(src="https://mc.yandex.ru/watch/85162462" style="position:absolute; left:-9999px;" alt="")
        // Yandex.Metrika counter

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(property="og:image" content="{{ url_for( 'static', filename='img/icon.png' ) }}")
        title Qaiter

        link(rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}")

        link(rel="stylesheet" href="{{ url_for( 'static', filename='css/parking.css') }}")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")

    body
        div(class="content")
            h4(class="spacer") qaiter.co
            h1 There are 
                span(class="b") QR-Codes
            h1 Then there are 
                span(class="b") QR-Conveniences
            h1 That's what we're all about
            p(class="spacer narrower") If you have a
                spanclass(class="b") café / bar / restaurant
                | , we bet there is no better to improve your customer convenience
                | and cut down costs without using the technology we're developing.
                | Excuse the ambiguity, that's to grab your interest.
                | If that little information sounds anywhere interesting, send an email,
                | you never know whether an envelope can start a tornado.
            h4(class="spacer narrower email") me@markmelnic.com
